<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Side Navigation -->
  <div id="nav"></div>
  

  <!-- Header -->
  <div id="header"></div>

  
  <h1>Dashboard</h1>

  <h4>Hello <%= user.username %></h4>
  <input id="search-box" type="number" placeholder="Search PNR Number..">
  <br>
  <button type="button" onclick="searchPNR()">Search PNR!</button>
  
  
  


  <!-- Footer -->
  <div id="footer"></div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/template.js"></script>

  
  
  
  <script>
    
    
    
    function searchPNR() {
      var x = document.getElementById("search-box").value;
      var link = window.location.href;
      var res = link.split("/users/");
      var rl=res[0];
      var url = rl+'/ticketdetail/'+x;
      window.location.href = url;
    }
  </script>


</body>

</html>
