<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link href="/styles/dashboard.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>Dashboard</title>
</head>

<body>

  <div class="navbar" style="background-color:powderblue;">
    <p style="text-align: center;">Railway management system!</p>
  </div>
  <div class="navbar">
    <a href="#1"><i class="fas fa-search"></i> Query Builder</a>
    <a href="#2"><i class="far fa-file-alt"></i> Reports</a>
    <div class="dropdown">
      <button class="dropbtn">
        <i class="fas fa-user-cog"></i>
        Admin
      </button>
      
    </div>
    <a style="float:right" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>

  <h1>Dashboard</h1>

  <h4>Hello <%= user.username %>
  </h4>

  <table id="table" style="background-color:rgb(226, 228, 146);">
    <thead>
        <th>Train Number</th>
        <th>Source</th>
        <th>Destination</th>
    </thead>
    <tbody></tbody>
  </table>

  <div id="dynamic_list">
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/ticketsList.js"></script>
</body>

</html>
