<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="/styles/sample.css" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
	<ul>
		<% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
		<li><%= error.message %></li>
		<% }) %> <% } %>
	</ul>
  
	<ul>
	<% if(messages.success_msg) { %>
	<li><%= messages.success_msg %></li>
	<% } %>
	</ul>

	<ul>
	<% if (messages.error) { %>
	<li><%= messages.error %></li>
	<% } %>
	</ul>
	<div class="main-w3layouts wrapper">
		<h1>Login Here</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/users/login" method="POST">					
					<input id="email" name="email" placeholder="Email" required class="text email" type="email">
					<input id="password" name="password" placeholder="Password" required class="text" type="password">
					<br>					
					<input type="submit" value="LOGIN">
				</form>
				<p>Dont have an Account? <a href="/users/register">Register Here</a></p>
				<p>Forgot your password? <a href="/forgotpassword">Reset Here</a></p>
			</div>
		</div>		
		<ul class="colorlib-bubbles">
			<li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
		</ul>
	</div>
</body>

</html>