<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link href="/styles/dashboard.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>Seat Availability</title>
</head>

<body>

  <div class="navbar" style="background-color:powderblue;">
    <p style="text-align: center;">Railway management system!</p>
  </div>
  <div class="navbar">
    <a href="/"></i>Home</a>
    <a href="/myticketslist"><i class="fas fa-search"></i> Query Builder</a>
    <a href="/seatavailability"></i> Seat Availability</a>
    <a href="/myticketslist"><i class="far fa-file-alt"></i>My Bookings</a>
    <div class="dropdown">
      <button class="dropbtn">
        <i class="fas fa-user-cog"></i>
        Admin
      </button>
    </div>
    <a style="float:right" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>

  <h1>Check seat Availability</h1>

  <h4>Hello <%= user.username %>
  </h4>
  <input id="src" type="text" placeholder="Enter Src">
  <br>
  <input id="dest" type="text" placeholder="Enter Dest">
  <br>
  <br>
  <button type="button" onclick="searchTrains()">Search Trains!</button>
  <table id="table" style="background-color:rgb(226, 228, 146); display:none; ">
    <thead>
      <th></th>
      <th>Your Tickets</th>
      <th></th>
      <th></th>
    </thead>
    <thead>
        <th>Train Number</th>
        <th>Source</th>
        <th>Source Arrival</th>
        <th>Source Departure</th>
        <th>Destination</th>
        <th>Destination Arrival</th>
        <th>Destination Departure</th>
    </thead>
    <tbody>
    </tbody>
    
  </table>
  <h4>Your Ip Address</h4>
  <p id="ip-addr"></p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/seatavailability.js"></script>
</body>

</html>
