<!DOCTYPE html>
<html lang="en">

<head>
  <title>Seat Availability</title>
  <link rel="shortcut icon" href="/train.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<style>

  .center {
    margin: auto;
    width: 80%;
    padding: 10px;
  }

  #table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  #table tr:nth-child(odd){background-color: white;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(129, 213, 241);
    color: white;
  }

  
</style>

<body>

  <div id="nav"></div>
  <div id="header"></div>



  <h2 class="w3-center">Check Seat Availability</h2>
  <div class="w3-center">
    <br>
    <select id="src" name="plan">
      <!-- <option value="4">Plan 4</option> -->
    </select>
    <select id="dest" name="plan">
      <!-- <option value="4">Plan 4</option> -->
    </select>
  </div>

  <br>
  <div class="w3-center" >
    <button  type="button" onclick="searchTrains()">Search Trains!</button>
  </div>
  <div class="w3-center" >
    <h4>Eg Amroha to Moradabad!</h4>
  </div>
  

  <br>
  <table id="table"></table>
  <br><br>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1">
        <div id="modal-span">
          <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">x</span>
        </div>
        <h1 id="modal-h1">Oh ho!</h4>
        <h4 id="modal-h4">There are no trains on this route.</h4>
        <h5 id="modal-h5">Try other locations <i class="fa fa-smile-o"></i></h5>
      </header>
    </div>
  </div>


  <div id="space">
    <br><br><br><br><br><br><br>
  </div>
  

  <div id="footer"></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/seatavailability.js"></script>
  <script src="/scripts/template.js"></script>
</body>

</html>
