<!DOCTYPE html>
<html lang="en">

<head>
  <title>Seat Availability</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

  <div id="nav"></div>
  <div id="header"></div>

  

  <h1>Check seat Availability</h1>

  <h4>Hello <%= user.username %>
  </h4>
  <select id="src" name="plan">
    <!-- <option value="4">Plan 4</option> -->
  </select>
  
  <select id="dest" name="plan">
    <!-- <option value="4">Plan 4</option> -->
  </select>
  <br><br>
  <button type="button" onclick="searchTrains()">Search Trains!</button>
  <table id="table" style="background-color:rgb(226, 228, 146); display:none; ">
    <thead>
      <th></th>
      <th>Your Tickets</th>
      <th></th>
      <th></th>
    </thead>
    <thead>
        <th>Train Number</th>
        <th>Source</th>
        <th>Source Arrival</th>
        <th>Source Departure</th>
        <th>Destination</th>
        <th>Destination Arrival</th>
        <th>Destination Departure</th>
    </thead>
    <tbody>
    </tbody>
    
  </table>
  

  <div id="footer"></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/seatavailability.js"></script>
  <script src="/scripts/template.js"></script>
</body>

</html>
