<!DOCTYPE html>
<html lang="en">

<head>
  <title>Train Details</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<style>

  #main-body {
    background-color: mintcream;
  }

  .center {
    margin: auto;
    width: 80%;
    padding: 10px;
  }

  #table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  #table tr:nth-child(odd){background-color: white;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightblue;
    color: white;
  }

  
</style>


<body>

  <div id="nav"></div>
  <div id="header"></div>


  <div class="center" id="train-detail">
    
  </div>

  <table id="table"></table>
  <br><br>
  <!-- <table id="table" style="background-color:rgb(226, 228, 146);">
    <thead>
      <th></th>
      <th id="train-num">Train Detail</th>
      <th id="train-name">Train Name</th>
      <th></th>
    </thead>
    <thead>
        <th>Station</th>
        <th>Arrival</th>
        <th>Departure</th>
        <th>Distance</th>
    </thead>
    <tbody>
    </tbody>
    
  </table> -->
  

  <div id="footer"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/template.js"></script>
  <script src="/scripts/traindetail.js"></script>
</body>

</html>
